@charset "utf-8"

/* 
    Hi Tony :)
*/ 

html {
    background-color: rgb(21, 23, 23);
}

body {
    background-color: rgb(21, 23, 23);
}

h1 {
    color: lightblue;
    text-align: center;
    font-style: italic;
}
